.Main {
  background-color: #d8d8d8;
  min-height: 100vh;
  padding:24px;
  
}
/* Input Start*/

.InputWrap {
  display: flex;
  height: 50px;
  border-radius: 12px;
  box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.25);
  margin-bottom: 24px;
}

.Input {
  width: 80%;
  padding: 4px 8px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #3A8AC0;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: 0;

} 

.Button {
  width: 20%;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: larger;
  font-weight: 800;
}

/* Input Finish*/
/* Card Start*/
.CardList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}
.Card {
width: 200px;
height: 350px;
border-radius: 12px;
background-color: #3A8AC0;
font-size: 14px;
color: #fff;
padding: 10px;
}

.DeleteCity {
  width: 2.5em;
  height: 2.5em;
  float: right;

  border-radius: 50%;
  font-weight: 900;
  border:none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
.DeleteCity:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border:2px solid black;
}

.EditCity {
  width: 4em;
  height: 2.5em;
  border-radius: 12px;
  float: left;

  font-weight: 900;
  border:none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.EditCity:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border:2px solid black;
}

.MainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 24px;
  font-weight: 500;
}

.Description {
  margin-top: 4px;
  font-size: 16px;
}
.Temperature {
  margin-top: 12px;
  font-size: 40px;
  font-weight: 500;

}
.Temperature::after {
  content: "°";
}

.Information {
  margin-top: 12px
}

.Information > div {
  margin: 4px;
}
/* Input Finish*/
